<section id="profile" class="container">
  <div class="row">
    <div id="avatar" class="col-md-12 col-lg-12 center-block">
      <a href="/gogo">
        <img class="center-block" src="/gogo/images/strawberry.jpg"/>
      </a>
    </div>
  </div>
  <div class="row profile-header">
    <div class="col-md-12 col-lg-12">Gogo</div>
  </div>
  <div class="row profile-location">
    <div class="col-12 col-lg-12">in Shanghai now</div>
  </div>
  <div class="row profile-origin">
    <div class="col-12 col-lg-12">from Shanghai</div>
  </div>
  <div class="row profile-experience">
    <div class="col-12 col-lg-12">8+ years (since 2008)</div>
  </div>
  <div class="row profile-description">
    <div class="col-12 col-lg-12">I've began to work in tattoo area since I was 14, that's also when I've done my first tattoo.
    I already had a chance to learn from masters in Singapore, Thailand, Phillipines,
    China, Russia, and other cool places of the world. Check out some of my previous works,
  and let me know if you want to start a new cool tattoo project with me.</div>
  </div>
</section>
